/* creating a flex grid with the cards. */

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  height: 60px;
  margin-top: -40px;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Indie Flower', bold;
}

body {
  margin: 20px 0;
  background: #6589F9;
}

.grid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 115px 115px 115px 115px; /* eerste row .header 80px 2de row .hero 350px 3de row .main auto 4de row .footer 80px */
  grid-gap: 30px;
}

.deck {
  margin: auto;
  padding: 15px;
  border-radius: 10px;
  max-width: 960px;
  background: #E5E83A;
  background: -moz-linear-gradient(-45deg, #E5E83A 0%, #C5347F 100%);
  background: -webkit-linear-gradient(-45deg, #E5E83A 0%, #C5347F 100%);
  background: linear-gradient(135deg, #E5E83A 0%, #C5347F 100%);
  visibility: unset;
}

.card {
  cursor: pointer;
  margin: auto;
  height: 100px;
  width: 100px;
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  border-radius: 50%;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 50%;
}

/* front of the card (backside in real life) has a question mark */
.front {
    background: #FAB942 url('../img/question.png') no-repeat center center / contain;
    background-origin:padding-box; padding: 50%;    /*werkt niet??*/
    background-size: 20%;
  }

.back {
    transform: rotateY(180deg);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Selected items will be rotated */
.selected {
    transform: rotateY(180deg);
    border-radius: 50%;
  }

.match .front {
  border-radius: 50%;
  visibility: hidden;
}

/* let the matched cards stay rotated */
.match .back {
  margin: 0;
  transform: rotate(0deg);
}

.score-panel {
  padding: 15px;
  display: flex;
  padding-top: 20px;
  text-align: left;
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  max-width: 450px;
  margin: auto;
}

.score-panel li  {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* 
.modal-lost {
  text-align: center;
  margin: auto;
  visibility: hidden;
  background-color: azure;
  width: 60%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.modal-start {
  padding: 50px;
  text-align: center;
  margin: auto;
  background-color: azure;
  width: 60%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: unset;
  opacity: 1;
}

.modal-done {
  background-color: rgb(201, 201, 201);
  text-align: center;
  margin: auto;
  visibility: unset;
  background-color: azure;
  width: 60%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

/* .win-screen {
  visibility: unset;
  opacity: 1;
} */

#time {
  color: rgb(226, 193, 4);
  font-size: 1.2em;
}

/* .restart {
  margin: 15px;
} */